test.raml/src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="test-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="test-config" raml="test.raml" consoleEnabled="false" doc:name="Router"/>
	<vm:connector name="VM" validateConnections="true" doc:name="VM">
		<vm:queue-profile maxOutstandingMessages="100">
			<file-queue-store/>
		</vm:queue-profile>
	</vm:connector>
	<db:generic-config name="Generic_Database_Configuration" url="jdbc:sqlserver://localhost:1433;databaseName=population;user=prachee;password=varundb" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" doc:name="Generic Database Configuration"/>
    <flow name="test-main">
        <http:listener config-ref="test-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="test-config" doc:name="APIkit Router"/>
        <exception-strategy ref="test-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="test-console">
        <http:listener config-ref="test-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="test-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/test:test-config">
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.test2== &quot;abc&quot;]">
				<logger message="#[&quot;success&quot;]" level="INFO" doc:name="Logger"/>
				<set-variable variableName="set" value="#[message.inboundProperties.test1]" doc:name="Variable"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-variable variableName="set"><![CDATA[%dw 1.0
%output application/json
---
"success" when flowVars.set !="" otherwise "not success"]]></dw:set-variable>
				</dw:transform-message>
				<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[select * from employee_record;]]></db:parameterized-query>
				</db:select>
				<vm:outbound-endpoint exchange-pattern="one-way" path="prachee" connector-ref="VM" doc:name="VM"/>
				<set-property propertyName="http.status" value="201" doc:name="Property"/>
			</when>
			<otherwise>
				<logger message="#[&quot;fail&quot;]" level="INFO" doc:name="Logger"/>
			</otherwise>
		</choice>

    </flow>
    <apikit:mapping-exception-strategy name="test-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
